@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
:root {
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
    --color-blue-600: #2C7DFA;
    --color-blue-500: #3685FF;
    --color-white: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 93.75%;
}
h1 {
    font-weight: 700;
    font-size: 1.4667rem;
    color: var(--color-slate-900);
    line-height: 1.2;
}
p {
    color: var(--color-slate-500);
    line-height: 1.4;
    font-size: 1rem;
}
body {
    background-color: var(--color-slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 320px;
    height: 499px;
    background-color: var(--color-white);
    border-radius: 20px;
    text-align: center;
    padding: 16px;
}
.qr-code__img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}
.container__title {
    margin-block-start: 24px;
    padding: 0 16px;
}
.container__description {
    margin-block-start: 16px;
    padding: 0 16px;
}